body {
    overflow: hidden; /* Приховує скролінг на сторінці */
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #00104B;
    overflow: auto; /* Дозволяє скролінг вмісту на сторінці */
}

.sidebarBlock {
    flex: 1;
    max-width: 20%;
    height: 650px;
    padding: 20px;
    box-sizing: border-box;
}

.catalogueBlock {
    flex: 3;
    max-width: 80%;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #FAFBFC;
    overflow-y: auto;
    height: 650px;
}

.catalogueBlock::-webkit-scrollbar {
    display: none;
}
